<div class="face-snap-card" [ngClass]="{snapped: buttonLabel === 'Oops, unSnap!'}">
    <h2>{{faceSnap.title | titlecase}}</h2>
    <p>{{faceSnap.description}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>Etait à la maison le  {{faceSnap.createdDate | date}}</p>
    <p *ngIf="faceSnap.location">Photo prise à {{faceSnap.location}}</p>
    <button (click)="onSnap()">{{buttonLabel}}</button>
    <span [ngStyle]="{color: 'rgb(0, ' + faceSnap.snaps + ', 0)'}">Nombre de like: {{faceSnap.snaps}}</span>
</div>